<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparative Visual Analytics (2014-2021) // Interactive Plotly Engine</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/graphanalysis.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/K-means.css')}}">
    <script src="https://kit.fontawesome.com/7bdcd846e8.js" crossorigin="anonymous"></script>

</head>
<style>

</style>
<script type="text/javascript">
    var states_arr = new Array("Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu and Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Orissa", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh", "D & N Haveli and Daman & Diu", "Delhi", "Lakshadweep", "Pondicherry");

    function populateStates(stateElementId) {
        var stateElement = document.getElementById(stateElementId);
        stateElement.options[0] = new Option("Select State", -1);
        for (var i = 0; i < states_arr.length; i++) {
            stateElement.options[stateElement.length] = new Option(states_arr[i]);
        }
    }

    function changeLinear(stateElementId) {
        const state = document.getElementById(stateElementId);
        const val = state.value;


        if (val == "Andhra Pradesh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Andhra Pradesh_linear.html';
        else if (val == "Arunachal Pradesh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Arunachal Pradesh_linear.html';
        else if (val == "Assam")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Assam_linear.html';
        else if (val == "Bihar")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Bihar_linear.html';
        else if (val == "Chhattisgarh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Chhattisgarh_linear.html';
        else if (val == "Goa")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Goa_linear.html';
        else if (val == "Gujarat")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Gujarat_linear.html';
        else if (val == "Haryana")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Haryana_linear.html';
        else if (val == "Himachal Pradesh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Himachal Pradesh_linear.html';
        else if (val == "Jammu and Kashmir")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Jammu & Kashmir_linear.html';
        else if (val == "Jharkhand")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Jharkhand_linear.html';
        else if (val == "Karnataka")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Karnataka_linear.html';
        else if (val == "Kerala")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Kerala_linear.html';
        else if (val == "Madhya Pradesh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Madhya Pradesh_linear.html';
        else if (val == "Maharashtra")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Maharashtra_linear.html';
        else if (val == "Manipur")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Manipur_linear.html';
        else if (val == "Meghalaya")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Meghalaya_linear.html';
        else if (val == "Mizoram")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Mizoram_linear.html';
        else if (val == "Nagaland")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Nagaland_linear.html';
        else if (val == "Orissa")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Odisha_linear.html';
        else if (val == "Punjab")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Punjab_linear.html';
        else if (val == "Sikkim")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Sikkim_linear.html';
        else if (val == "Tamil Nadu")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Tamil Nadu_linear.html';
        else if (val == "Telangana")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Telangana_linear.html';
        else if (val == "Tripura")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Tripura_linear.html';
        else if (val == "Uttar Pradesh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Uttar Pradesh_linear.html';
        else if (val == "Uttarakhand" || val == "Uttaranchal")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Uttarakhand_linear.html';
        else if (val == "West Bengal")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/West Bengal_linear.html';
        else if (val == "Andaman and Nicobar Islands")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/A & N Islands_linear.html';
        else if (val == "Chandigarh")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Chandigarh_linear.html';
        else if (val == "D & N Haveli and Daman & Diu")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/D & N Haveli and Daman & Diu_linear.html';
        else if (val == "Delhi")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Delhi_linear.html';
        else if (val == "Lakshadweep")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Lakshadweep_linear.html';
        else if (val == "Pondicherry")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Puducherry_linear.html';
        else if (val == "Rajasthan")
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Rajasthan_linear.html';
        else
            document.getElementById('iframeID3').src = 'plots/Multi_linear/Assam_linear.html';


    }

    function changeSBar(stateElementId) {
        const state = document.getElementById(stateElementId);
        const val = state.value;

        if (val == "Andhra Pradesh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Andhra Pradesh_stbar.html';
        else if (val == "Arunachal Pradesh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Arunachal Pradesh_stbar.html';
        else if (val == "Assam")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Assam_stbar.html';
        else if (val == "Bihar")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Bihar_stbar.html';
        else if (val == "Chhattisgarh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Chhattisgarh_stbar.html';
        else if (val == "Goa")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Goa_stbar.html';
        else if (val == "Gujarat")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Gujarat_stbar.html';
        else if (val == "Haryana")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Haryana_stbar.html';
        else if (val == "Himachal Pradesh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Himachal Pradesh_stbar.html';
        else if (val == "Jammu and Kashmir")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Jammu & Kashmir_stbar.html';
        else if (val == "Jharkhand")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Jharkhand_stbar.html';
        else if (val == "Karnataka")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Karnataka_stbar.html';
        else if (val == "Kerala")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Kerala_stbar.html';
        else if (val == "Madhya Pradesh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Madhya Pradesh_stbar.html';
        else if (val == "Maharashtra")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Maharashtra_stbar.html';
        else if (val == "Manipur")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Manipur_stbar.html';
        else if (val == "Meghalaya")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Meghalaya_stbar.html';
        else if (val == "Mizoram")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Mizoram_stbar.html';
        else if (val == "Nagaland")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Nagaland_stbar.html';
        else if (val == "Orissa")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Odisha_stbar.html';
        else if (val == "Punjab")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Punjab_stbar.html';
        else if (val == "Sikkim")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Sikkim_stbar.html';
        else if (val == "Tamil Nadu")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Tamil Nadu_stbar.html';
        else if (val == "Telangana")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Telangana_stbar.html';
        else if (val == "Tripura")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Tripura_stbar.html';
        else if (val == "Uttar Pradesh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Uttar Pradesh_stbar.html';
        else if (val == "Uttarakhand" || val == "Uttaranchal")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Uttarakhand_stbar.html';
        else if (val == "West Bengal")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/West Bengal_stbar.html';
        else if (val == "Andaman and Nicobar Islands")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/A & N Islands_stbar.html';
        else if (val == "Chandigarh")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Chandigarh_stbar.html';
        else if (val == "D & N Haveli and Daman & Diu")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/D & N Haveli and Daman & Diu_stbar.html';
        else if (val == "Delhi")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Delhi_stbar.html';
        else if (val == "Lakshadweep")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Lakshadweep_stbar.html';
        else if (val == "Pondicherry")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Puducherry_stbar.html';
        else if (val == "Rajasthan")
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Rajasthan_stbar.html';
        else
            document.getElementById('iframeID3').src = 'plots/Stacked_Bar_Charts/Assam_stbar.html';
    }

    function changeGBar(stateElementId) {
        const state = document.getElementById(stateElementId);
        const val = state.value;
        if (val == "Andhra Pradesh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Andhra Pradesh_grbar.html';
        else if (val == "Arunachal Pradesh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Arunachal Pradesh_grbar.html';
        else if (val == "Assam")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Assam_grbar.html';
        else if (val == "Bihar")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Bihar_grbar.html';
        else if (val == "Chhattisgarh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Chhattisgarh_grbar.html';
        else if (val == "Goa")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Goa_grbar.html';
        else if (val == "Gujarat")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Gujarat_grbar.html';
        else if (val == "Haryana")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Haryana_grbar.html';
        else if (val == "Himachal Pradesh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Himachal Pradesh_grbar.html';
        else if (val == "Jammu and Kashmir")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Jammu & Kashmir_grbar.html';
        else if (val == "Jharkhand")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Jharkhand_grbar.html';
        else if (val == "Karnataka")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Karnataka_grbar.html';
        else if (val == "Kerala")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Kerala_grbar.html';
        else if (val == "Madhya Pradesh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Madhya Pradesh_grbar.html';
        else if (val == "Maharashtra")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Maharashtra_grbar.html';
        else if (val == "Manipur")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Manipur_grbar.html';
        else if (val == "Meghalaya")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Meghalaya_grbar.html';
        else if (val == "Mizoram")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Mizoram_grbar.html';
        else if (val == "Nagaland")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Nagaland_grbar.html';
        else if (val == "Orissa")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Odisha_grbar.html';
        else if (val == "Punjab")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Punjab_grbar.html';
        else if (val == "Sikkim")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Sikkim_grbar.html';
        else if (val == "Tamil Nadu")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Tamil Nadu_grbar.html';
        else if (val == "Telangana")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Telangana_grbar.html';
        else if (val == "Tripura")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Tripura_grbar.html';
        else if (val == "Uttar Pradesh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Uttar Pradesh_grbar.html';
        else if (val == "Uttarakhand" || val == "Uttaranchal")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Uttarakhand_grbar.html';
        else if (val == "West Bengal")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/West Bengal_grbar.html';
        else if (val == "Andaman and Nicobar Islands")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/A & N Islands_grbar.html';
        else if (val == "Chandigarh")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Chandigarh_grbar.html';
        else if (val == "D & N Haveli and Daman & Diu")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/D & N Haveli and Daman & Diu_grbar.html';
        else if (val == "Delhi")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Delhi_grbar.html';
        else if (val == "Lakshadweep")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Lakshadweep_grbar.html';
        else if (val == "Pondicherry")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Puducherry_grbar.html';
        else if (val == "Rajasthan")
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Rajasthan_grbar.html';
        else {
            alert("Please select a state");
            document.getElementById('iframeID3').src = 'plots/Grouped_Bar_Charts/Assam_grbar.html';
        }
    }
</script>

<style>

</style>

<body>
    <!-- Main Navigation Bar -->
    <nav class="main">
        <label class="logo" onclick="window.location.href='{{url_for('index')}}'">CRIME INTELLIGENCE UNIT</label>
        <ul>
            <li><a href="{{url_for('index')}}"><i class="fas fa-radar"></i> Home</a></li>
            <li><a href="{{url_for('about')}}"><i class="fas fa-shield-alt"></i> Dossier</a></li>
            {% if current_user.is_authenticated and current_user.role == 'field_officer' %}
            <li><a href="{{url_for('crimefeed')}}"><i class="fas fa-satellite-dish"></i> Live Feed</a></li>
            <li><a href="{{url_for('analyze_case')}}"><i class="fas fa-microchip"></i> Case Analyzer</a></li>
            <li><a href="{{url_for('datadisp')}}"><i class="fas fa-database"></i> Datasets</a></li>
            {% endif %}
            <li><a href="{{url_for('feedback')}}"><i class="fas fa-comment-dots"></i> Feedback</a></li>
        </ul>
    </nav>

    <!-- Sub Navigation -->
    <nav class="secondnav">
        <label class="log"><i class="fas fa-chart-simple mr-2"></i> MULTI-VARIABLE COMPARATIVE VISUALIZATIONS (2014-2021)</label>
    </nav>

    <div class="container mx-auto px-4 py-8 max-w-6xl">
        
        <!-- Controls Strip -->
        <div class="bg-gray-900 border border-gray-800 p-6 rounded-xl shadow-xl mb-6 flex flex-col md:flex-row justify-between items-center gap-4">
            <div class="for-select m-0 w-full md:w-auto">
                <label for="state_input"><i class="fas fa-map-marker-alt mr-1"></i> Target State / UT:</label>
                <select id="state_input" name="state_input">
                    <option disabled selected>Select State</option>
                </select>
            </div>
            
            <div class="flex flex-wrap gap-3 w-full md:w-auto justify-end">
                <button class="button" onclick="changeLinear('state_input')"><i class="fas fa-chart-line mr-1"></i> Multi-Linear</button>
                <button class="button" onclick="changeSBar('state_input')"><i class="fas fa-chart-column mr-1"></i> Stacked Bar</button>
                <button class="button" onclick="changeGBar('state_input')"><i class="fas fa-chart-bar mr-1"></i> Grouped Bar</button>
            </div>
        </div>

        <script language="javascript">
            populateStates("state_input");
        </script>

        <!-- Visualization Frame -->
        <div class="box">
            <div class="p-4 border-b border-gray-800 flex justify-between items-center">
                <span style="font-family: var(--font-cyber); font-size: 14px; letter-spacing: 2px; color: #ffffff;">
                    <i class="fas fa-chart-pie text-cyan-400 mr-2"></i> INTERACTIVE PLOTLY COMPARISON MATRIX
                </span>
                <span class="text-xs text-cyan-400 font-mono">PLOTLY ENGINE</span>
            </div>
            <div style="padding: 10px; height: 600px;">
                <iframe src="plots/Multi_linear/Assam_linear.html" frameborder="0" style="width: 100%; height: 100%; border: none; border-radius: 8px;" id="iframeID3"></iframe>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <p>CRIME INTELLIGENCE & THREAT SURVEILLANCE SYSTEM &copy; 2026 // RESTRICTED ACCESS</p>
    </footer>

    <!-- Suspense FX Script -->
    <script src="{{url_for('static',filename='javascript/suspense.js')}}"></script>
</body>


</html>